{% extends 'base.html' %} {% load bootstrap4 %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 contact-secion">

        </div>
        <div class="col-md-4 form-section">
            {{form.media}}
            {% if form.errors %}
            <p>Enter correct value</p>
            {% endif %}
            <div class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Create a profile</h3>
                        <form action="{% url 'new-post' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" value="post" class="btn btn-inline-primary login-button">
                            </div>
                            <input type="hidden" name="next" value="/">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- empty div -->
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}