{% extends 'base.html' %} {% load bootstrap4 %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 contact-secion">

        </div>
        <div class="col-md-4 form-section">
            
            
            <div class="panel">
                <div class="panel-body">
                    <div class="text-center">
                        <h3>Post</h3>
                        <form action="{% url 'new-post' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <div class="form-group">
                                <input type="submit" value="post" class="btn btn-inline-primary login-button">
                            </div>
                            <input type="hidden" name="next" value="/">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- empty div -->
        <div class="col-md-4"></div>
    </div>
</div>
<style>
    body{
      background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTs06LiVoCDy7hsj8gJ_RglHOuzMJufINE1cuTj7QzUt5Et3uYcJXPAsO1w4pM4QI24gJ8&usqp=CAU)no-repeat;
      background-position: center;
      background-size: cover;
    }
  </style>
{% endblock %}