{% extends 'base.html' %} {% load bootstrap4 %}
{% block content %}
<div class="container">
    <div class="row-top">
        <div class="card-group">
            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <a href="">
                    <h5 class="card-title">/user/{{post.username}}</h5>
                </a>
                <img src="{{my_post.image.url}}" class="card-img-top" alt="...">
                <p class="card-text">{{post.post | safe}}</p>
              </div>
              <div class="card-footer">
                {% if comments %}
                <h4 class="text-center">Comments</h4>
                {% for comment in comments %}
                <p><strong>{{comment.username.username}}</strong>{{comment.comments}}</p>
                {% endfor %}

                {% else %}
                <h3>No comments made for this post yet</h3><hr>
                {% endif %}

                <form action="/see-post/{{post.id}}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    <div class="text-center">
                        <input type="submit" class="btn btn-inline-success" value="post">
                    </div>
                </form>
                
              </div>
            </div>
          
         
          </div>
    </div>
</div>
{% endblock %}